html, body {
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */

}

/* wichtig ohne das geht nicht */

.website-content {
    display: none ; /* Hide initially */
    position: absolute;
    /* top: 0;
    left: 0; */
    overflow-x: hidden; /* Hides horizontal overflow */
    overflow-y: auto; /* Enables vertical scrolling */
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100vw; /* Ensure it takes full width */
    min-height: 100vh; /* Minimum height */
}

/* wichtig ohne das geht nicht */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; /* Ensure the canvas is behind the header and video */


}

.welcome {
    position: absolute; 
    width: 100%;
    z-index: 100; 
    display: flex;
    justify-content: center; 
    
}

.header-sphere {
    position: fixed; /* Keeps the header at the top */
    width: 100%;
    z-index: 1000; /* Ensures it's above other content */
    background: transparent;
    display: flex;
    justify-content: center; /* Center the sphere container */
    padding: 10px 0; /* Add some space */
    top: 0;
    right: 23rem;
    perspective: 100px;

}
.sphere-container {
    position: relative;
    
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at 35%, #fdfdfd00, #c21c1c00); /* Simulate a 3D sphere */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    transform-style: preserve-3d; /* Ermöglicht 3D-Transformationen für Kinder */
 
}

  .sphere-container .nav-links a {
    display: flex;
    transform: rotate(-30deg);  
    margin: 25px 5px;

  }
.nav-links {
    position: absolute;
    font-size: 1.5em;
    
}

.nav-links a {
    display: inline-block;
    color: #000;
    
    margin: 0 10px;
    font-weight: bold;
}




#video-bg {
    position: relative;
    top: 0;
    width: calc(100%);
    /* Make the video height equal to the header */
    z-index: -1; /* Ensure the video is behind the navbar links */
    object-fit: cover;
    -o-object-fit: cover;
    rotate: 180deg;
    /* Increasing blur for a more pronounced effect */

}


/* .box {
    min-width: 100px;
    height: 100px;
    background-color: #725858;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
} */




section {
    /* padding: 20px;
    margin: 10px 0; 
    background-color: #f3f4f6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    width: 100%; */
    position: absolute;
    top: 0;
    max-width: 100vw;
    display: flex;
   /*  justify-content: center; */
    /* align-items: center; */
    background: #858383;
    z-index: -2;
    pointer-events: none;
    min-height: 140vh;
    padding: 15rem 10% 1rem;
    margin-top: 12.5rem;
    
    
}
