html, body {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.website-content02 {
    display: none ;
    position: relative;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh; /* Minimum height */
}

/* canvas {
    top: 0;
    left: 0;
    z-index: -1; 
    position: absolute;
}
 */

.header {
    background-color: aqua;
    
}

.main {
    background-color: rgb(117, 231, 231);
    min-height: 150vh;
}
.footer {
    background-color: aqua;
}
.sections {
    min-height: 30vh;
    padding: 10rem 10% 10rem;
}