@font-face {
  font-family: 'PP Supply Sans';
  src: url('/new_code/PPSupplySans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Supply Mono';
  src: url('/new_code/PPSupplyMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'header';
  src: url('/new_code/AbyssalHorrorsItalic-L37l4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  }
  50% {
    box-shadow: 0 0 50px 5px #3080a3;
  }
  100% {
    box-shadow: 0 0 50px 10px #3795bd;
  }
}

@keyframes shadowPulse01 {
  
  0% {
    box-shadow: 0 0 50px 5px #3080a3;
  }
  100% {
    box-shadow: 0 0 50px 10px #3795bd;
  }
}


#canvas-main {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    font-family: "PP Supply Sans", Arial;
}


:root {
  --dynamic-padding-ultra: 15vw;
}



div .ball-text {
    position: fixed;
    color: #bfc0c4;
    font-size: 2rem;
    left: 10%;
    bottom: 15%; 
    min-height: 40%;
    max-width: 50%;
    padding-left: calc(var(--dynamic-padding-ultra) + 5%);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: "PP Supply Sans", Arial;
    flex-wrap: wrap;
    white-space: normal; 
    word-wrap: anywhere;
    border-radius: 20px;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
    
 }
 
 .ball-text02 {
  position: fixed;
  color: #bfc0c4;
  font-size: 3rem;
  top: 15rem;
  left: 70%;  
  transform: translateX(-50%) !important; 
  width: 50%; 
  padding: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  text-align: justify;
  white-space: normal;
  overflow: auto;
  word-wrap: anywhere;
  display: flex; 
  flex-direction: column;  
  align-items: start;  
  justify-content: center;  
  min-height: 20%;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: shadowPulse 10s infinite alternate ease-in-out;
}

 
 img {
    position: fixed;
    left: 10% ;
    bottom: 15% ;
    padding: 1rem ;
    min-height: 10% ;
    min-width: 20% ;
    margin-left: -5rem ;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
  }
 

/*   img {
    flex: 0 1 auto;  
    max-width: 40%;  
    height: auto;  
    object-fit: cover;  
    padding: 1rem;
}

.ball-text > div {
    flex: 1;  
    padding: 1rem;  
    overflow: hidden;  
    word-wrap: break-word; 
} */

/* ---------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 750px) {
  :root {
    --dynamic-padding-little: 0vw;
  }

    .ball-text {
    font-size: 1rem !important;
    padding-left: calc(var(--dynamic-padding-little) + 10%); 
    max-width: 80% !important; 
    bottom: 10% !important;
    left: 50% !important; 
    transform: translateX(-50%) !important; 
    align-items: center !important;
    min-height: initial !important; 
    padding-right: 1rem !important; 
    border-radius: 20px;
    font-family: "PP Supply Sans", Arial;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
}

  .ball-text02 {
    font-size: 1.5rem;
    top: 10rem;  
    width: 60% ; 
    grid-template-columns: 1fr ; 
    left: 15rem;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: shadowPulse 10s infinite alternate ease-in-out;
  }
  
}


@media screen and (max-width: 750px) {
  img {
      position: fixed;
      left: 5%; 
      bottom: 10%; 
      min-height: 20%;
      min-width: 30%; 
      border-radius: 20px;
      animation: shadowPulse01 1s infinite alternate ease-in-out;
  }
}

/* ---------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 750px) and (max-width: 1160px) {
  :root {
    --dynamic-padding-middle: 30vw;
  }


  div .ball-text {
    position: fixed;
    color: #bfc0c4;
    font-size: 2rem;
   /*  left: 30%; */
    bottom: 15%;
    min-height: 40%;
    max-width: 80%;
    padding-left: calc(var(--dynamic-padding-middle) + 15%);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: normal;
    word-wrap: anywhere;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    font-family: "PP Supply Sans", Arial;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
  }
  
  
  .ball-text02 {
    position: fixed;
    color: #bfc0c4;
    font-size: 3rem;
    top: 15rem;
    left: 70%;  
    transform: translateX(-50%) !important;  
    width: 50%;  
    padding: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    text-align: justify;
    white-space: normal;
    overflow: auto;
    word-wrap: anywhere;
    display: flex;  
    flex-direction: column;  
    align-items: start; 
    justify-content: center;  
    min-height: 20%;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: shadowPulse 10s infinite alternate ease-in-out;
  }
  }


  @media screen and (min-width: 750px) and (max-width: 1160px) {
    img {
      position: fixed;
      left: 15% ;
      bottom: 15% ;
      padding: 1rem ;
      min-height: 10% ;
      min-width: 10% ;
      width: 20rem;
      border-radius: 20px;
      animation: shadowPulse01 1s infinite alternate ease-in-out;
    }
  }
/* ---------------------------------------------------------------------------------------------------- */


@media screen and (min-width: 1161px) and (max-width: 1299px) {
  :root {
    --dynamic-padding01: 25vw;  
  }

div .ball-text {
  position: fixed;
  color: #bfc0c4;
  font-size: 2rem;
  left: 10%;
  bottom: 15%;
  min-height: 40%;
  max-width: 70%;
  padding-left: calc(var(--dynamic-padding01) + 15%);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: normal;
  word-wrap: anywhere;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  font-family: "PP Supply Sans", Arial;
  animation: shadowPulse01 1s infinite alternate ease-in-out;
}


.ball-text02 {
  position: fixed;
  color: #bfc0c4;
  font-size: 3rem;
  top: 15rem;
  left: 70%; 
  transform: translateX(-50%) !important;  
  width: 50%; 
  padding: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  text-align: justify;
  white-space: normal;
  overflow: auto;
  word-wrap: anywhere;
  display: flex;  
  flex-direction: column;  
  align-items: start;  
  justify-content: center;  
  min-height: 20%;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: shadowPulse 10s infinite alternate ease-in-out;
}
}

@media screen and (min-width: 1161px) and (max-width: 1299px) {
    img {
      position: fixed;
      left: 15% ;
      bottom: 15% ;
      padding: 1rem ;
      min-height: 10% ;
      min-width: 20% ;
      border-radius: 20px;
      animation: shadowPulse01 1s infinite alternate ease-in-out;
  }
}

/* ---------------------------------------------------------------------------------------------------- */

@media (min-width: 1300px) and (max-width: 1800px) {
  :root {
    --dynamic-padding02: 20vw; 
  }




  
  div .ball-text {
    position: fixed;
    color: #bfc0c4;
    font-size: 2rem;
    left: 10%;
    bottom: 15%; 
    min-height: 40%;
    max-width: 70%;
    padding-left: calc(var(--dynamic-padding02) + 15%);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: "PP Supply Sans", Arial;
    flex-wrap: wrap;
    white-space: normal; 
    word-wrap: anywhere;
    border-radius: 20px;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
 }
 
 .ball-text02 {
  position: fixed;
  color: #bfc0c4;
  font-size: 3rem;
  top: 15rem;
  left: 70%;  
  transform: translateX(-50%) !important;  
  width: 50%;  
  padding: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  text-align: justify;
  white-space: normal;
  overflow: auto;
  word-wrap: anywhere;
  display: flex;  
  flex-direction: column;  
  align-items: start;  
  justify-content: center;  
  min-height: 20%;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: shadowPulse 10s infinite alternate ease-in-out;
}
}

@media screen and (min-width: 1300px) and (max-width: 1800px) {
  img {
    position: fixed;
    left: 15% ;
    bottom: 15% ;
    padding: 1rem ;
    min-height: 10% ;
    min-width: 20% ;
    border-radius: 20px;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
}
}

/* ---------------------------------------------------------------------------------------------------- */

@media (min-width: 1801px) and (max-width: 2592px) {
  :root {
    --dynamic-padding03: 10vw; 
  }


  div .ball-text {
    position: fixed;
    color: #bfc0c4;
    font-size: 2rem;
    left: 10%;
    bottom: 15%; 
    min-height: 40%;
    max-width: 50%;
    padding-left: calc(var(--dynamic-padding03) + 15%);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-family: "PP Supply Sans", Arial;
    flex-wrap: wrap;
    white-space: normal; 
    word-wrap: anywhere;
    border-radius: 20px;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
    
 }
 
 .ball-text02 {
  position: fixed;
  color: #bfc0c4;
  font-size: 3rem;
  top: 15rem;
  left: 70%;  
  transform: translateX(-50%) !important;
  width: 50%;  
  padding: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
  text-align: justify;
  white-space: normal;
  overflow: auto;
  word-wrap: anywhere;
  display: flex;  
  flex-direction: column;  
  align-items: start;  
  justify-content: center; 
  min-height: 20%;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: shadowPulse 10s infinite alternate ease-in-out;
}
}



@media screen and (min-width: 1801px) and (max-width: 2592px) {
  img {
    position: fixed;
    left: 10% ;
    bottom: 15% ;
    padding: 1rem ;
    min-height: 10% ;
    min-width: 20% ;
    border-radius: 20px;
    animation: shadowPulse01 1s infinite alternate ease-in-out;
}
}

/* ---------------------------------------------------------------------------------------------------- */
