.section03-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.contact {
    background-color: #bfc0c4;
    border-radius: 20px;
    z-index: 1;
    
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.733);
}

.contact h2 {
    font-size: 40px;
    color: #3795bd;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
   
}

.contact form {
    width: 900px;
    text-align: center;
    height: 700px;
    
}

form .input-box {
    display: flex;
    justify-content: space-between;
    
}

.input-box .input-field {
    width: 48.5%;
    
}

.field .item {
    width: 100%;
    padding: 18px;
    background-color: transparent;
    border: 1.5px solid #000000;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #3795bd;
    margin: 12px 0;
   
}

.field.error .item {
    border-color: #ff0000;
}

.field.error .error-txt {
    display: block;
}

.field .item::placeholder {
    color: #ffffff;
   
}

form .textarea-field .item {
    resize: none;
    

}

form button {
    padding: 12px 32px;
    background: #bfc0c4;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    font-size: 16px;
    color: #3795bd;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
backdrop-filter: blur(20px);
}

form button:hover {
    box-shadow: none;

}

.field .error-txt {
    font-size: 13.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;

}