@font-face {
    font-family: 'PP Supply Sans';
    src: url('/new_code/fonts/PPSupplySans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Supply Mono';
    src: url('/new_code/fonts/PPSupplyMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header';
    src: url('/new_code/fonts/AbyssalHorrorsItalic-L37l4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 1801px) and (max-width: 2592px) {
    .header-info {
        left: 35% !important; 
    }
}

@media screen and (min-width: 1350px) and (max-width: 1800px) { 
    .header-info {
        left: 25% !important; 
    }
}
@media screen and (min-width: 1161px) and (max-width: 1349px) { 
    .header-info {
        left: 25% !important; 
    } 
}

@media (min-width: 850px) and (max-width: 1160px) { 
    .header-info {
        left: 25% !important; 
    } 
}

@media (min-width: 350px) and (max-width: 849px) { 
    .header-info {
        left: 5% !important; 
    } 
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    /* padding: 0.5em 0em; */
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 100%;
    padding: 1em 1em;
    cursor:auto;
    z-index: 3;
}

#nameOfPortfolio {
    position: inherit;
    left: 0em;
    font-family: 'header', Arial;
    transition: transform 0.3s ease;
    padding: 1em;
    color: #ffffff;
}
#nameOfPortfolio:hover {
    transform: scale(1.1);
    color: #3795bd;
    
}

.header-overflow-text {
    
    position: relative;
    top: 0;
    left: 0;
    margin: 10rem;

}

 .header-info {
    left: 35%;
    position: relative;
    border:1px solid #bfc0c45b;
    border-radius: 50%;
    width: 56.5px;
    height: 56.5px;
    cursor: pointer;
}
.header-info-text {
    position: fixed;
    top: 0;
    left: 0;
    background: #bfc0c4;
    height: 200vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0% at 100% -5%);
    -webkit-clip-path: circle(0% at 100% -5%);
    transition: all 2s ease-out;
    pointer-events: none;
    z-index: 5;

    
}
.header-info-text.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(150% at 90% -10%);
    pointer-events: all;
 
  }

.header-cover {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    width: auto;
    height: 6rem;
    border-radius: 20px;
    font-family: 'PP Supply Sans';

}


.update-table-container {
    background-color: #00000000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.update-table-container h1 {
    font-family: 'PP Supply Sans', Arial;
    color: #333;
    margin-bottom: 20px;
}

.update-table {
    width: 100%;
    border-collapse: collapse;
}

.update-table th, .update-table td {
    padding: 10px;
    border: 1px solid #333333;
}

.update-table th {
    background-color: #86a7c1;
    color: #333333;
    text-transform: uppercase;
    font-family: 'PP Supply Sans', Arial;
}

.update-table td {
    background-color: #86a7c175;
    color: #333;
    font-family: 'PP Supply Sans', Arial;
}

.update-table tr:nth-child(even) td {
    background-color: #86a7c152;
}

/* ------------------------------------ */

.navigation {
    width: 350px;
    height: 70px;
    background: #ffffff00;
    position: relative;  /* This is critical for absolute positioning of children */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto; 
        
}

.navigation ul {
    display: flex;
    justify-content: space-between; /* This will ensure spacing is distributed evenly */
    width: 100%;
    padding: 0; /* Ensure no default padding is causing issues */
}
.navigation ul li {

    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.navigation ul li  a .icon  {
    position: relative;
    display: block;
    line-height: 80px;
    font-size: 1.8em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);

}

/* .navigation ul li.active  a .icon {
   

} */

.navigation ul li a .text {
    position: fixed;
    color:var(--clr);
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
}

.indicator {
    position: absolute;
    top: 0;  
    transform: translateY(-150%); 
    width: 70px;
    height: 70px;
    background: #bfc0c45b;
    border-radius: 20%;
    transition: transform 0.5s ease;
    left: 0;
}


.indicator::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -30px;
    width: 25px;
    height: 20px;
    background: transparent;
   /*  border-top-right-radius: 40px; */
    border: 5px solid transparent;
   /*  border-top-color: #1100ffd2; 
    border-right-color: #1100ff9f;  */

}

.indicator::after {
    content: '';
    position: absolute;
    top: 35%;
    right: 30px;
    width: 25px;
    height: 20px;
    background: transparent;
   /*  border-top-left-radius: 40px; */
    border: 5px solid transparent;
   /*  border-top-color: #1100ffd2; 
    border-left-color: #1100ff9f;  */

}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}
