* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --clr: #00ff55;
    
}

@font-face {
    font-family: 'PP Supply Sans';
    src: url('/experement/page_about/PPSupplySans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Supply Mono';
    src: url('/experement/page_about/PPSupplyMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header';
    src: url('/experement/page_about/AbyssalHorrorsItalic-L37l4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.website-content02 {
    display: none;
    flex-direction: column;
    background-color: #bfc0c4;;
}

.haupt {
    display: flex;
    flex-direction: column;
}

#grid-item01 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'PP Supply Mono', Arial;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 3rem;
} 
/* <!---------------------------------------------------------------->  */
.char {
    transform: translateY(115px);
    transition: transform .5s;
}

.spacer {
    aspect-ratio: 3440/100;
    /* filter: blur(15px);  */
    box-shadow: 0 0 10px -10px rgba(255, 255, 255, 0.25);
}

/* <!---------------------------------------------------------------->  */
.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    /* padding: 0.5em 0em; */
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 100%;
    padding: 1em 1em;
    cursor:auto;
    z-index: 1;
}

#nameOfPortfolio {
    position: inherit;
    left: 0em;
    font-family: 'header', Arial;
    transition: transform 0.3s ease;
    padding: 1em;
}
#nameOfPortfolio:hover {
    transform: scale(1.1);
    color: #00ff55;
    
}

.header-cover {
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    width: auto;
    height: 6rem;
    border-radius: 20px;

}

.navigation {
    width: 350px;
    height: 70px;
    background: #ffffff00;
    position: relative;  /* This is critical for absolute positioning of children */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto; 
        
}

.navigation ul {
    display: flex;
    justify-content: space-between; /* This will ensure spacing is distributed evenly */
    width: 100%;
    padding: 0; /* Ensure no default padding is causing issues */
}
.navigation ul li {

    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;

}

.navigation ul li  a .icon {
    position: relative;
    display: block;
    line-height: 80px;
    font-size: 1.8em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);

}

/* .navigation ul li.active  a .icon {
   

} */

.navigation ul li a .text {
    position: fixed;
    color:var(--clr);
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
}

.indicator {
    position: absolute;
    top: 0;  
    transform: translateY(-150%); 
    width: 70px;
    height: 70px;
    background: #00ff551c;
    border-radius: 20%;
    transition: transform 0.5s ease;
    left: 0;
}


.indicator::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -30px;
    width: 25px;
    height: 20px;
    background: transparent;
   /*  border-top-right-radius: 40px; */
    border: 5px solid transparent;
   /*  border-top-color: #1100ffd2; 
    border-right-color: #1100ff9f;  */

}

.indicator::after {
    content: '';
    position: absolute;
    top: 35%;
    right: 30px;
    width: 25px;
    height: 20px;
    background: transparent;
   /*  border-top-left-radius: 40px; */
    border: 5px solid transparent;
   /*  border-top-color: #1100ffd2; 
    border-left-color: #1100ff9f;  */

}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

/* <!---------------------------------------------------------------->  */

/* .wrapper-section01 {
    min-height: 100vh;
}
 */

.scroll-wrapper {
    overflow-x: hidden;
    position: relative;
    min-height: 150vh;
    height: 0px !important;
}

.svg-section01 {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;

    .mask {
        width: 0;
    }
}

.kontainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 150vh;

    .col {
        display: flex;
        gap: 3em;
        
        p {
            font-size: .8rem;
        }
    }

    section {
        width: 100vw;
        /* padding: 20vw 10vw; */

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}

.sec1 {
background-color: #3c4053;
padding: 10vw 10vw;
}

.sec2 {
    background-color: #576394;
    padding: 40vw 10vw;
}


/* section {
    height: 100vh;

} */


/* .........................................................................  */
.footer {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100vw;
    background-color: #3795bd;
    
}


.footer-wrapper {
    position: absolute;
    width: 100% ;
    max-height: 50vh;
    z-index: 2;
    color: white;
}


.overlay-effect-footer {
    width: 100%;
    max-height: 50vh;
    /* opacity: 0; 
    visibility: hidden;  */
    
}

.overlay-effect-catalog {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3795BD; /* Blue color */
    z-index: 10; /* Ensure it's above the content */
    opacity: 1; /* Start fully visible */
    transition: opacity 0.5s ease-in-out;
    
}

.overlay-effect-section01 {
    position: absolute;
    width: 100%;
    height: 150vh;
    background-color: #3795BD; /* Blue color */
    z-index: 10; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.block-catalog {
    position: absolute;
    width: 5%;
    min-height: 100vh;
    background-color: #c0c0c0 !important;
    
}


.block {
    position: absolute;
    width: 5%;
    min-height: 50vh;
    background: #c0c0c0 !important;
}

.block-section01 {
    position: absolute;
    width: 5%;
    min-height: 150vh;
    background-color: #c0c0c0 !important;

}



.block-1 {
    right: 0;
}

.block-2 {
    right: 5%;
}

.block-3 {
    right: 10%;
}

.block-4 {
    right: 15%;
}

.block-5 {
    right: 20%;
}

.block-6 {
    right: 25%;
}

.block-7 {
    right: 30%;
}

.block-8 {
    right: 35%;
}

.block-9 {
    right: 40%;
}

.block-10 {
    right: 45%;
}

.block-11 {
    right: 50%;
}

.block-12 {
    right: 55%;
}

.block-13 {
    right: 60%;
}

.block-14 {
    right: 65%;
}

.block-15 {
    right: 70%;
}

.block-16 {
    right: 75%;
}

.block-17 {
    right: 80%;
}

.block-18 {
    right: 85%;
}

.block-19 {
    right: 90%;
}

.block-20 {
    right: 95%;
}

@media(max-width: 900px) {
    .about p {
          width: 100%;
    }
}