* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --clr: #ffffff;
}

@font-face {
    font-family: 'PP Supply Sans';
    src: url('/new_code/fonts/PPSupplySans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Supply Mono';
    src: url('/new_code/fonts/PPSupplyMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header';
    src: url('/new_code/fonts/AbyssalHorrorsItalic-L37l4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior:smooth;
    scrollbar-width: thin; 
    scrollbar-color: #3795bd #bfc0c4; 
}

/* the Firefow will not support this pseudo-element */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #3795bd;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: #bfc0c4;
}

/* 
* {
    scrollbar-width: none;
}
 */

.website-content02 {
    display: none;
    flex-direction: column;
    background-color: #bfc0c4;;
}

.haupt {
    display: flex;
    flex-direction: column;
}

#grid-item01 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'PP Supply Sans', Arial;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 3rem;
} 

/* <!---------------------------------------------------------------->  */
.char {
    transform: translateY(115px);
    transition: transform .5s;
}

.spacer {
    aspect-ratio: 3440/100;
    /* filter: blur(15px);  */
    box-shadow: 0 0 10px -10px rgba(255, 255, 255, 0.25);
    z-index: 1
}

/* <!---------------------------------------------------------------->  */

.section01 {
    font-family: "PP Supply Sans", Arial;
}

.section02 {
    font-family: "PP Supply Sans", Arial;
}

.scroll-wrapper {
    overflow-x: hidden;
    min-height: 200vh;
    height: 0px !important;
}

.kontainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: 150vh;
    color: #ffffff;

    .col {
        display: flex;
        gap: 5em;
        width: 100%;
        font-family: "PP Supply Sans", Arial;
        p {
            font-size: .8rem;
            font-family: "PP Supply Sans", Arial;
        }
    }

    section {

        p {
            font-size: 1.2rem;
            width: 50vw;
        }
    }
}

.sec1 {
margin: 10vw 0vw;
background-color: #bfc0c4;

}


#h1Section01 {
    padding: 2em;
    font-family: "PP Supply Sans";
    font-size: 2em;
    font-style: normal;
}


.sec1-wrapper {
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background-color: #3795bd;
}
.col01-section01 {
    padding-top: 5em;
    padding-bottom: 5em;
   
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.col02-section01 {
    padding-top: 5em;
    /* padding-bottom: 5em; */
   
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
/* <!---------------------------------------------------------------->  */

col01-section01::before {
    content: '';
    background: rgba(0, 0,0, 0.7 );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

#TimelineH1 {
    font-family: "PP Supply Sans", Arial;
    margin: 0.3rem;
    font-size: 2.5rem;
}

#TimelineH2 {
    font-family: "PP Supply Sans", Arial;
    margin-bottom: 0.5rem;
}

.title {
    text-align: center;
    text-align: -moz-center;
}
.title p {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.timeline {
    margin: 5rem auto;
    max-width: 37.846rem;
}

.checkpoint {
    max-width: 34rem;
    padding-top: 2rem;
    position: relative;
}

.checkpoint div {
    border: 2px solid #ffffff;
    border-radius: 1rem;
    padding: 1.5rem;
}

.checkpoint:nth-child(even) {
    border-left: 2px solid #ffffff;
    padding-left: 5rem;
    transform: translateX(18.87rem);
}

.checkpoint:nth-child(odd) {
    border-right: 2px solid #ffffff;
    padding-right: 5rem;
    transform: translateX(-15rem);
}

.checkpoint:nth-child(even)::before, 
.checkpoint:nth-child(odd)::before {
    content: '';
    background: #ffffff;
    width: 5rem;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(even)::before {
    left: 0;
}

.checkpoint:nth-child(odd)::before {
    right: 0;
}

.checkpoint:nth-child(even) div::before,
.checkpoint:nth-child(odd) div::before {
    content: '';
    background: #ffffff;
    box-shadow: 0 0 0 0.5rem #007cc95d;
    border-radius: 20px;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 46%;
    transform: rotateY(-50%);
}
.checkpoint:nth-child(even) div::before {
    left: -0.5rem;
}
.checkpoint:nth-child(odd) div::before {
    right: -0.5rem;
}
/* <!---------------------------------------------------------------->  */



.hobby-list {
    height: 50vh;  
    padding: 4rem 0 0 8rem;;  
    list-style: none;  
    display: flex;  
    flex-direction: column;  
    gap: 2rem; 
}

.hobby-item {
    display: flex;  
    align-items: center;  
    padding: 1rem;  
    transition: transform 0.3s ease;  
}

.hobby-item:hover lord-icon {
    
    border-radius: 20px;
    transform: scale(1.05);  
    background-color: #f0f0f00e; 
}

.hobby-description {
    font-family: "PP Supply Sans", Arial;
    margin-left: 20px;  
    color: #ffffff;  
    font-size: 1rem;  
    width: 70%; 
}

.title-hobbys {
    padding: 0 0 0 10rem;
    margin: 0 -15rem 0 0;
    letter-spacing: 2px;
}

#HobbysH1 {
    font-family: "PP Supply Sans", Arial;
    font-size: 2.5rem;  
    margin: 0.3rem 0.3rem 0.3rem 0rem; 
    
}
.st0 {
    fill: #fdfdfd !important;
  }

/* <!---------------------------------------------------------------->  */

.sec2 {
    background-color: #bfc0c4;
    margin: 40vw 0vw;
    width: 102vw;
}


#h1Section02 {
    padding: 3em 3em 3em 5em;
    font-family: "PP Supply Sans", Arial;
    font-size: 2em;
    font-style: normal;
}


.sec2-wrapper {
    
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding-top: calc(15vh + 200px);
    background-color: #3795bd;
    width: 105vw;
}


/* <!---------------------------------------------------------------->  */

.skill-section {
    position: relative;
    margin: 50px 0;
    width: 25%;
}

.skill-heading {
    text-align: center;
    font-size: 60px;
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
    
}

.skills-container {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #ffffff;

}

.skills-card {
    position: relative;
    
}

i {
    display: block;
    margin: auto;
    height: 50px;
    font-size: 10rem;
}
 
 .skill-name-h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0 5px;
    width: 6.5vw;

 }
 .skill-info-p {
    text-align: start;
    opacity: 0.5;
    line-height: 50px;
 }

.skill-level {
    position: relative;
    top: 1%;
    left: 9%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    border: 7px solid ;


}


.skills-container .skills-card .skill-level:nth-of-type(1) {
    background: #ed1c2379;
    border-color: #ed1c24;
}
.skills-container .skills-card-even .skill-level:nth-of-type(1) {
    background: #659ad275;
    border-color: #659ad2;
}

.skills-container .skills-card .skill-level:nth-child(6) {
    background: #ffde257e;
    border-color: #ffde25;
}

.skills-container .skills-card-even .skill-level:nth-child(6) {
    background: #f3582575;
    border-color: #f35825;
}

.skills-container .skills-card .skill-level:nth-child(10) {
    background: #3e474a62;
    border-color: #3e474a;
}

.skills-container .skills-card-even .skill-level:nth-child(10) {
    background: #007cc975;
    border-color: #007bc9;
}

.skills-container .skills-card-three .skill-level:nth-of-type(1) {
    background: #00618a7e;
    border-color: #00618a;
}

.skills-container .skills-card-three .skill-level:nth-of-type(2) {
    background: #dd7a0277;
    border-color: #dd7902;
}

.skills-container .skills-card-three .skill-level:nth-of-type(3) {
    background: #78bc1f79;
    border-color: #77bc1f;
}

/* <!---------------------------------------------------------------->  */

.skills-container .skills-card .skill-level:nth-child(3) {
    background: #8289a72f;
    border-color: #000000;
}

.skills-container .skills-card .skill-level:nth-child(4) {
    background: #0d2fc52f;
    border-color: #00ff40;
}

.skills-container .skills-card .skill-level:nth-child(7) {
    background: #0d2fc52f;
    border-color: #ffde25;
}
/* Sehr kleine Bildschirme bis 700px */
@media (max-width: 700px) {
    .sec2-wrapper {
        padding-top: calc(65vh + 120px);
    }
}

/* Kleine Bildschirme von 701px bis 999px */
@media (min-width: 701px) and (max-width: 999px) {
    .sec2-wrapper {
        padding-top: calc(50vh + 180px);
    }
}

/* Mittlere Bildschirme von 1000px bis 1449px */
@media (min-width: 1000px) and (max-width: 1449px) {
    .sec2-wrapper {
        padding-top: calc(38vh + 200px);
    }
}

/* Größere Bildschirme von 1450px bis 1799px */
@media (min-width: 1450px) and (max-width: 1799px) {
    .sec2-wrapper {
        padding-top: calc(25vh + 200px);
    }
}

/* Phone Size */
@media (min-width: 300px) and (max-width: 1099px) { 
    
    #nameOfPortfolio {
        display: none;
      }

    .checkpoint:nth-child(2n+1) {
        border-right: 2px solid #ffffff;
        padding-right: 5rem;
        transform: translateX(0rem);
      }
    .checkpoint:nth-child(even) { 
        border-left: 2px solid #ffffff; 
        padding-left: 5rem; 
        transform: translateX(0rem); }
    .timeline {
        margin: 5rem;
        max-width: 100%;
      }
    
.scroll-wrapper {
    overflow-x: hidden;
    
    min-height: 200vh;
    height: 0px !important;
}

.kontainer {
    display: block;
    width: 100vw;
    min-height: 100vh;
    height: 150vh;
    color: #ffffff;

    .col {
        display: block;
        gap: 3em;
        width: 100%;
        p {
            font-size: .8rem;
        }
    }

    .skill-section {
        position: relative;
        margin: 0;
        width: auto; 
    }
    .skills-container {
        width: 65%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: #ffffff;
    }

    section {
        /* width: 100vw; */

        p {
            font-size: 1.2rem;
            width: 80vw;
        }
    }
}

#h1Section02 {
    padding: 7em 3em 3em 5em;
    font-family: "PP Supply Sans", Arial;
    font-size: 2em;
    font-style: normal;
  }

.sec1 {
margin: 0;
background-color: #bfc0c4;

}

.sec2 {
    background-color: #bfc0c4;
    margin: 00vw 0vw;
    width: 102vw;
  }

#h1Section01 {
    padding: 2em;
    font-family: "PP Supply Sans";
    font-size: 2em;
    font-style: normal;
}

.sec1-wrapper {
    
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    height: 120vh;
    display: block;
    flex-direction: column;
    padding-top: 2rem;
    background-color: #3795bd;
  }

.col01-section01 {
    padding: 5rem;
   
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.col02-section01 {
    padding-top: 15em;
   /*  padding-bottom: 10em; */
   
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.sec2-wrapper {
    
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    height: auto;
    display: block;
    flex-direction: column;
    padding-top: calc(35vh + 200px);
    background-color: #3795bd;
    width: 105vw;
   
  }

  .contact form {
    width: 700px !important;
    text-align: center;
    height: 550px !important;
  }

/* .......Section-catalog */
.map > div p:nth-child(2) {
    font-size: 10px !important;
  }

  .section > div {
    font-size: 10px !important;
  }

  /* .map > div {
    height: 100px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important ;
    margin: 20px !important;
    padding: 30px !important;
    border: 1.5px solid #000 !important;
    border-radius: 20px !important;
    transition: height 0.5s !important;
  } */

}


@media (min-width: 1100px) and (max-width: 1399px) {

    .timeline {
        margin: 5rem ;
        max-width: 37.846rem;
    }

    .title {
        text-align: center;
        text-align: -moz-center;
        padding: 5rem 0 0 0;
      }

    #HobbysH1 {
        font-family: "PP Supply Sans", Arial;
        font-size: 2rem;
        margin: 0.3rem 0.3rem 0.3rem 0rem;
      }
      
      .sec2-wrapper {
       
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        height: 135vh;
        display: flex;
        flex-direction: column;
        padding-top: calc(15vh + 200px);
        background-color: #3795bd;
        
      }

      .col01-section01 {
        /* padding-top: 5em;
        padding-bottom: 5em; */
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.486);
        border-radius: 20px;
        height: 70vh;
        overflow-y: auto;
        overflow-x: auto;
        padding: 0em 0em 0em 20em;
        font-size: 0.5em;
        width: auto;
      }


      #h1Section02 {
        padding: 10em 0em 0em 4em;
        font-family: "PP Supply Sans", Arial;
        font-size: 2em;
        font-style: normal;
    }

      .col02-section01 {
        padding-top: 5em;
        padding-bottom: 5em;
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 30%;
      }

      #TimelineH1 {
        font-family: "PP Supply Sans", Arial;
        margin: 0.3rem;
        font-size: 2rem;
      }

      .title-hobbys {
        padding: 0 5rem 0 5rem;
        margin: 0 0 0 0;
      }

      .hobby-list {
        height: 40vh;
        padding: 0rem 0 0 4rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0;
      }

      /* ------PART TWO------ */

      .skill-section {
        position: relative;
        margin: 50px 0;
        width: 35%;
      }
      /* ------Section TWO------ */

      .sec2 {
        background-color: #bfc0c4;
        margin: 40vw -22vw;
        width: 102vw;
      }
      
      .col {
        display: flex;
        gap: 0em !important;
        width: 100%;
      }

      .sec1-wrapper {
       
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        height: 120vh;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        background-color: #3795bd;
        width: 120vw;
      }

}
/* @media (min-width: 1400px) and (max-height: 1000px) {

.sec2-wrapper {
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    height: 140vh;
    display: flex;
    flex-direction: column;
    padding-top: calc(-25vh - 200px);
    background-color: #3795bd;
  }
} */

@media (min-width: 1400px) and (max-width: 1699px) {
    
    .timeline {
        margin: 5rem ;
        max-width: 37.846rem;
    }


    .title {
        text-align: center;
        text-align: -moz-center;
        padding: 5rem 0 0 0;
      }

    #HobbysH1 {
        font-family: "PP Supply Sans", Arial;
        font-size: 2rem;
        margin: 0.3rem 0.3rem 0.3rem 0rem;
      }

      .sec2-wrapper {
       
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        height: 135vh;
        display: flex;
        flex-direction: column;
        padding-top: calc(15vh + 200px);
        background-color: #3795bd;
        
      }

      .col01-section01 {
        /* padding-top: 5em;
        padding-bottom: 5em; */
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.486);
        border-radius: 20px;
        height: 65vh;
        overflow-y: auto;
        overflow-x: auto;
        padding: 0em 0em 0em 20em;
        font-size: 0.5em;
        width: auto;
      }


      #h1Section02 {
        padding: 8em 0em 0em 3em;
        font-family: "PP Supply Sans", Arial;
        font-size: 2em;
        font-style: normal;
    }

      .col02-section01 {
        padding-top: 5em;
        padding-bottom: 5em;
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 30%;
      }

      #TimelineH1 {
        font-family: "PP Supply Sans", Arial;
        margin: 0.3rem;
        font-size: 2rem;
      }

      .title-hobbys {
        padding: 0 5rem 0 5rem;
        margin: 0 0 0 0;
      }

      .hobby-list {
        height: auto;
        padding: 0rem 0 0 4rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0;
      }

      /* ------PART TWO------ */

      .skill-section {
        position: relative;
        margin: 50px 0;
        width: 30%;
      }
      /* ------Section TWO------ */

      .sec2 {
        background-color: #bfc0c4;
        margin: 40vw -22vw;
        width: 100vw;
      }
      
      .col {
        display: flex;
        gap: 0em !important;
        width: 100%;
      }

}


@media (max-height: 1250px) and (min-width: 1400px) and (max-height: 1699px) {

    .sec2-wrapper {
    
        height: 150vh;
    
      }
      .scroll-wrapper {
        
        min-height: 220vh;
        
      }
    } 


@media (max-height: 1150px) and (min-width: 1400px) and (max-height: 1699px) {

    .sec2-wrapper {
    
        height: 170vh;
    
      }
      .scroll-wrapper {
        
        min-height: 245vh;
        
      }
    } 

/* ---------------------------------------------- */
@media (max-height: 1000px) and (min-width: 1400px) and (max-height: 1699px) {

    .sec2-wrapper {
    
        height: 180vh;
    
      }
      .scroll-wrapper {
        
        min-height: 250vh;
        
      }
    } 

    @media (max-height: 900px) and (min-width: 1400px) and (max-height: 1699px) {

        .sec2-wrapper {
        
            height: 190vh;
        
          }
          .scroll-wrapper {
            
            min-height: 270vh;
            
          }
        } 

        @media (max-height: 850px) and (min-width: 1400px) and (max-height: 1699px) {

            .sec2-wrapper {
            
                height: 200vh;
            
              }
              .scroll-wrapper {
                
                min-height: 300vh;
                
              }
              .col02-section01 {
                padding-top: 2em;
              }
            }     

@media (min-width: 1700px) and (max-width: 2100px) {
    #HobbysH1 {
        font-size: 2rem;
        margin: 0.3rem 0.3rem 0.3rem 0rem;
      }

    #h1Section02 {
        padding: 2.5em 0 0 6rem;
        font-family: "PP Supply Sans", Arial;
        font-size: 2em;
        font-style: normal;
    }
    .col01-section01 {
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.486);
        border-radius: 20px;
        height: 65vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 6em;
        font-size: 0.7em;
        width: 65%;
      }
      .col02-section01 {
        padding-top: 3em;
        padding-bottom: 5em;
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 30%;
      }

      #TimelineH1 {
        font-family: "PP Supply Sans", Arial;
        margin: 0.3rem;
        font-size: 2rem;
      }

      .title-hobbys {
        padding: 0 0 0 7rem;
        margin: 0 -20rem 0 0;
      }

      .hobby-list {
        height: 40vh;
        padding: 0rem 0 0 5rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      /* ------PART TWO------ */

      .skill-section {
        position: relative;
        margin: 50px 0;
        width: 25%;
      }
      .sec2-wrapper {
    
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        height: 135vh;
        display: flex;
        flex-direction: column;
        padding-top: calc(25vh + 150px);
        background-color: #3795bd;
        width: 105vw;
      }
      
}

@media (max-height: 1250px) and (min-width: 1700px) and (max-height: 2100px) {

    .sec2-wrapper {
    
        height: 150vh;
    
      }
      .scroll-wrapper {
        
        min-height: 220vh;
        
      }
    } 


@media (max-height: 1150px) and (min-width: 1700px) and (max-height: 2100px) {

    .sec2-wrapper {
    
        height: 170vh;
    
      }
      .scroll-wrapper {
        
        min-height: 245vh;
        
      }
    } 


@media (max-height: 1000px) and (min-width: 1700px) and (max-height: 2100px) {

.sec2-wrapper {

    height: 160vh;

  }
  .scroll-wrapper {
    
    min-height: 240vh;
    
  }
} 



@media (max-height: 900px) and (min-width: 1700px) and (max-height: 2100px) {

    .sec2-wrapper {
    
        height: 190vh;
    
      }
      .scroll-wrapper {
        
        min-height: 270vh;
        
      }
    } 

    @media (max-height: 850px) and (min-width: 1700px) and (max-height: 2100px) {

        .sec2-wrapper {
        
            height: 200vh;
        
          }
          .scroll-wrapper {
            
            min-height: 300vh;
            
          }
          .col02-section01 {
            padding-top: 2em;
          }
        }   

/* Größere Bildschirme von 1800px bis 2559px */
@media (min-width: 1800px) and (max-width: 2559px) {
    .sec2-wrapper {
        padding-top: calc(5vh + 220px);
    }
}

@media (max-height: 1250px) and (min-width: 1800px) and (max-height: 2559px) {

    .sec2-wrapper {
    
        height: 150vh;
    
      }
      .scroll-wrapper {
        
        min-height: 220vh;
        
      }
    } 


@media (max-height: 1150px) and (min-width: 1800px) and (max-height: 2559px) {

    .sec2-wrapper {
    
        height: 170vh;
    
      }
      .scroll-wrapper {
        
        min-height: 245vh;
        
      }
    } 

@media (max-height: 1000px) and (min-width: 1800px) and (max-height: 2559px) {

    .sec2-wrapper {
    
        height: 180vh;
    
      }
      .scroll-wrapper {
        
        min-height: 260vh;
        
      }
    } 


    @media (max-height: 900px) and (min-width: 1800px) and (max-height: 2559px) {

        .sec2-wrapper {
        
            height: 190vh;
        
          }
          .scroll-wrapper {
            
            min-height: 270vh;
            
          }
        } 
    
        @media (max-height: 850px) and (min-width: 1800px) and (max-height: 2559px) {
    
            .sec2-wrapper {
            
                height: 200vh;
            
              }
              .scroll-wrapper {
                
                min-height: 300vh;
                
              }
              .col02-section01 {
                padding-top: 2em;
              }
            }   

/* Noch größere Bildschirme von 2560px bis 3439px */
@media (min-width: 2560px) and (max-width: 3439px) {
    .sec2-wrapper {
        padding-top: calc(5vh + 100px);
    }
}
/* not needed */
/* @media (max-height: 1000px) and (min-width: 2560px) and (max-height: 3439px) {

    .sec2-wrapper {
    
        height: 160vh;
    
      }
      .scroll-wrapper {
        
        min-height: 240vh;
        
      }
    }  */

/* Große Bildschirme von 3440px */
@media (min-width: 3440px) {
    .sec2-wrapper {
        padding-top: calc(5vh + 100px);
    }
}





/* .........................................................................  */

.section03 {
    min-height: 100vh;
    font-family: "PP Supply Sans", Arial;
}

/* .........................................................................  */
/* .footer {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100vw;
    background-color: #3795bd;
    font-family: "PP Supply Sans", Arial;
    
} */


/* .footer-wrapper {
    position: absolute;
    width: 100% ;
    min-height: 50vh;
    z-index: 2;
    color: white;
} */


.overlay-effect-footer {
    width: 100%;
    max-height: 50vh;
    z-index: 2;
    background-color: #3795BD; /* Blue color */
    /*visibility: hidden;  */
}

.overlay-effect-catalog {
    position: absolute;
    width: 100%;
    height: 140vh;
    background-color: #3795BD; /* Blue color */
    z-index: 2; /* Ensure it's above the content */
    opacity: 1; /* Start fully visible */
    transition: opacity 0.5s ease-in-out;
    
}

.overlay-effect-section01 {
    position: absolute;
    width: 100%;
    height: 220vh;
    background-color: #3795BD; /* Blue color */
    z-index: 1; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.overlay-effect-contact {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #3795BD; /* Blue color */
    z-index: 2; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.block-catalog {
    position: absolute;
    width: 5%;
    min-height: 140vh;
    background-color: #c0c0c0 !important;
    
}


.block-section01 {
    position: absolute;
    width: 5%;
    min-height: 200vh;
    background-color: #c0c0c0 !important;

}


.block-contact {
    position: absolute;
    width: 5%;
    min-height: 100vh;
    background-color: #c0c0c0 !important;

}

.block {
    position: absolute;
    width: 5%;
    min-height: 50vh;
    background: #3795bd;


}

.block-1 {
    right: 0;
}

.block-2 {
    right: 5%;
}

.block-3 {
    right: 10%;
}

.block-4 {
    right: 15%;
}

.block-5 {
    right: 20%;
}

.block-6 {
    right: 25%;
}

.block-7 {
    right: 30%;
}

.block-8 {
    right: 35%;
}

.block-9 {
    right: 40%;
}

.block-10 {
    right: 45%;
}

.block-11 {
    right: 50%;
}

.block-12 {
    right: 55%;
}

.block-13 {
    right: 60%;
}

.block-14 {
    right: 65%;
}

.block-15 {
    right: 70%;
}

.block-16 {
    right: 75%;
}

.block-17 {
    right: 80%;
}

.block-18 {
    right: 85%;
}

.block-19 {
    right: 90%;
}

.block-20 {
    right: 95%;
}

@media(max-width: 900px) {
    .about p {
          width: 100%;
    }
}

.block-1-left {
    left: 0;
}

.block-2-left {
    left: 5%;
}

.block-3-left {
    left: 10%;
}

.block-4-left {
    left: 15%;
}

.block-5-left {
    left: 20%;
}

.block-6-left {
    left: 25%;
}

.block-7-left {
    left: 30%;
}

.block-8-left {
    left: 35%;
}

.block-9-left {
    left: 40%;
}

.block-10-left {
    left: 45%;
}

.block-11-left {
    left: 50%;
}

.block-12-left {
    left: 55%;
}

.block-13-left {
    left: 60%;
}

.block-14-left {
    left: 65%;
}

.block-15-left {
    left: 70%;
}

.block-16-left {
    left: 75%;
}

.block-17-left {
    left: 80%;
}

.block-18-left {
    left: 85%;
}

.block-19-left {
    left: 90%;
}

.block-20-left {
    left: 95%;
}