* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body, html{
    overflow-y: auto;
    overflow-x: hidden;
}

.website-content02 {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(259deg, rgba(13,99,149,1) 0%, rgba(185,202,224,1) 100%); 
}

.header {
    display: flex;
    max-height: 50vh; 
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

.haupt {
    display: flex;
    max-height: 50vh; 
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.footer {
    display: flex;
    max-height: 50vh; 
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#toggle02 {
    position: fixed;
    top: 0;
    padding: 0.5em 0em;
   /*  background: rgba(255, 255, 255, 0.75); */
   /*  border-radius: 40px; */
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: grid;
    z-index: 2;
    width: 100%;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 2rem;
}

.char {
    transform: translateY(115px);
    transition: transform .5s;
}

.spacer{
    aspect-ratio: 3440/100;
    filter: blur(15px); /* Adjust the px value to control the amount of blur */
    box-shadow: 0 0 10px -10px rgba(255, 255, 255, 0.25);
}