.overlay-phone {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bfc0c4cb;
    color: #3795bd;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content-phone {
    max-width: 80%;
    margin: auto;
}

.glass-efect-phone {
    backdrop-filter: blur(50px);
    box-shadow: 0 0 50px -20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 200px;
    width: auto;
    align-content: center;
}

html.overlay-active,
body.overlay-active {
    overflow: hidden; /* Prevent scrolling */
    height: 100%; /* Ensure full height is covered */
}

