.loading-screen02 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 100%);
    color: #2F58CD;
    pointer-events: none;
    

}


.counter {
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: flex;
    height: 100px;
    font-size: 100px;
    line-height: 102px;
    clip-path: polygon(0 0, 100%  0, 100% 100px, 0 100px);
    font-weight: 400;
    
}


.counter-1,
.counter-2,
.counter-3 {

    position: relative;
    top: -10px;

}

.num1offset1 {
    position: relative;
    right: -10px;

}
.num1offset2 {
    position: relative;
    right: -10px;

}
.num {
    line-height: 100px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgb(80, 80, 80);
    
}

.loader-1 {
    position: relative;
    background: #2F58CD;
    width: 200px;
}

.loader-2 {
    position: relative;
    width: 100px;
    background: #2F58CD;
}
.bar {
    height: 50px;
}

.headerr {
    position: relative;

}



.header.h1 h1 {
    text-align: center;
    position: relative;
    top: 80px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
}

/* .header-revealer {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;
}
.header-revealer::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #ff0000;
    top: 80px;

}
 */