* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y:auto;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.ball-text {
   position: fixed;
   z-index: 2;
   color: blue;
   font-size: xx-large;
   right: 20%;
   bottom: 40%;
   transform: translate(-20%, -40%);
}


